<img src="images/{{src}}" class="img-fluid rounded img-thumbnail" />
{{!-- <h1>{{title}}</h1>
<p>{{title}}</p> --}}
<p>Image name : {{src}}</p>
{{!-- {{# if condition}}
Condition is met
{{else}}
condition not met
{{/if}} --}}